# Domain
DOMAIN=your domain

# Database connection details
DB_USERNAME=your user name
DB_PASSWORD=your password
DB_HOST=your host
DB_PORT=your port
DB_NAME=your db name

# User name and password
USER_NAME_1=your first stylish email
USER_NAME_2=your second stylish email
PASSWORD=your stylish password

# API config
BASE_URL=according to stylish api document
X_API_KEY=tap pay X-API-KEY

# TapPay sandbox card data
TAPPAY_TEST_CARD_NUM=your sandbox card number
TAPPAY_TEST_CARD_DUE_DATE=your sandbox card due date
TAPPAY_TEST_CARD_CCV=your sandbox card ccv
